<br><br><br><br>
<div class="row">
  <div class="col-md-8 well">
    <h1>My Workouts</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <section class="well">
      <h2>Pending Workouts</h2>
      <% @my_workouts_pending.each do |workout| %>
          <%= render partial: 'workouts', locals: {workout: workout} %>
      <% end %>
    </section>
    <section class="well">
      <h2>Completed Workouts</h2>
      <% @my_workouts_completed.each do |workout| %>
          <%= render partial: 'workouts', locals: {workout: workout} %>
      <% end %>
    </section>
  </div>

  <section class="col-md-4 well">
    <h1>Other Workouts</h1>
    <% @other_workouts.each do |workout| %>
        <%= render partial: 'workouts', locals: {workout: workout} %>
    <% end %>
  </section>
</div>
