<h1>Workouts</h1>

<section>
  <h1>My Workouts</h1>
  <% @my_workouts.each do |workout| %>
      <%= render partial: 'workouts', locals: {workout: workout} %>
  <% end %>
</section>

<section>
  <h1>Other Workouts</h1>
  <% @other_workouts.each do |workout| %>
      <%= render partial: 'workouts', locals: {workout: workout} %>
  <% end %>
</section>

