// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.workout_link {
  color: #000;
  border: 2px solid #FFF;
  padding: 5px;
}

.workout_link:hover {
  border: 2px solid #000;
}

.no_padding {
  padding: 0;
}
