<div class="row">
  <div class="col-md-1"></div>
  <div class="well col-md-4">
    <h1>Edit <%= @community.name %></h1>

    <%= render 'form' %>

    <%= link_to 'Back', @community %>
  </div>
</div>
